@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

* {
  color: #333;
  font-family: "PT Sans", sans-serif;
  cursor:"default"
}

body {
  margin: 1em auto 4em auto;
  width: 960px;
}

h3{
  color: steelblue;
  font-weight: bold;
}

span.blue {
  color: #80b1d3;
}

span.gold {
  color: #fdb462
}

span.purple {
  color: #bc80bd
}

span.red {
  color: #fb8072
}

span.teal {
  color: #8dd3c7
}

#experimentr {
  margin: 4em auto 1em auto;
  width: 720px;
}

#control {
  margin-top: 1em;
}

#next-button {
  float: right;
}

.placeholder {
  color: steelblue;
  font-weight: bold;
}

.center {
	text-align: center;
}

.colorSq {
	width: 150px;
}

.indentList {
	margin-left: 50px;
}

.vizPref {
  width: 600px;
}

.label{
  font-size: 15px;
}

.legend text,
.axis text {
  font-size: 13px;
  fill: #333;
  /*Making axis text unselectable*/
  -webkit-user-select: none;
  -moz-user-select: none;
}
.legend rect{
  fill-opacity: 0.75;
}

line.bestFitLine {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
}
